body {
    font-size: 0.8em;
    color: #008888;
    background-color: #010101;
    margin: 1em;
    padding: 0;
}

h1 {
    color: #007799;
}

h2 {
    font-size: 1em;
    font-weight: normal;
}

p {
    font-size: 0.8em;
}

table {
    border-width: 0px;
    width: 100%;
    table-layout: fixed;
    white-space: nowrap;
}

tr {
   border-width: 0px;
}

td {
    border-style: solid;
    border-width: 0px;
    background-color: #101010;
    overflow: hidden;
}

th {
    border-width: 0px;
    background-color: #101010;
    text-align: center;
}



ul {
    list-style-type: none;
    padding:0;
    margin:0;
}

a.check:link {
    color: #11ff11;
}

a.check:visited {
    color: #11ff11;
}

a.cross:link {
    color: #ff1111;
}

a.cross:visited {
    color: #ff1111;
}


a.fav:link {
    color: #ff1111;
}

a.fav:visited {
    color: #ff1111;
}



a.nofav:link {
    color: #777777;
}

a.rec:link {
    color: #ff1111;
}

a.norec:link {
    color: #777777;
}

a.conflict:link {
    color: #FFFF77;
}


a:link {
    text-decoration: none;
    font-weight: bold;
    color: #0077ff;
}


a:visited {
    text-decoration: none;
    font-weight: bold;
    color: #0077ff;
}

a:hover {
    text-decoration: underline;
    font-weight: bold;
    color: #0077ff;
}


/* Page Layout */

#header {
    float: top;
    width: 100%;
    clear: both;
}

#filters {
    float: top;
    width: 100%;
}

#tablehead {
    float: top;
    width: 100%;
}

/* Pop-out thing for program details */
<a href="#" class="special">Somewhere<div class="desc">This is hidden.</div></a>

a.special { position:relative; }
a.special div.desc { background-color:white; display:none; position:absolute; z-index:100; }
a.special:hover div.desc { display:block; }


