<h1>Schedules:</h1>

{% if source_list %}
    {% for source in source_list %}
        <h2>{{ source.name }}:</h2>
   <a href="{% url 'source_schedule' source.id %}">Edit</a></p><br>
        {% comment %} Add in plot of the source here {% endcomment %}
    {% endfor %}
{% else %}
    <p>No sources are configured, <a href="{% url 'hdwr_config' %}">setup hardware.</a></p>
{% endif %}

{% comment %} Add in Info about inputs {% endcomment %}

<br>

<p><a href="{% url 'by_channel' %}">View schedules by channel</a><br>
<a href="{% url 'hdwr_config' %}">Setup Hardware</a></p>
