{% extends "base.html" %}

{% block title %}Aquarium Controller: Scheduled Output Control{% endblock %}

{% block content %}

<h1>Schedules:</h1>

{% if source_list %}
    {% for source in source_list %}
        <h2>{{ source.name }}:</h2>
        <img src="{% url 'source_graph' source.id %}">
        <a href="{% url 'source_schedule' source.id %}">Edit</a></p><br>
    {% endfor %}
{% else %}
    <p>No sources are configured, <a href="{% url 'hdwr_config' %}">setup hardware.</a></p>
{% endif %}

{% comment %} Add in Info about inputs {% endcomment %}

<br>

<p><a href="{% url 'by_channel' %}">View schedules by channel</a><br>
<a href="{% url 'hdwr_config' %}">Setup Hardware</a></p>

{% if debug %}
<div id="debug">
  <h2>Queries</h2>
  <p>
    {{ sql_queries|length }} Quer{{ sql_queries|pluralize:"y,ies" }}
    {% ifnotequal sql_queries|length 0 %}
    (<span style="cursor: pointer;" onclick="var s=document.getElementById('debugQueryTable').style;s.display=s.display=='none'?'':'none';this.innerHTML=this.innerHTML=='Show'?'Hide':'Show';">Show</span>)
    {% endifnotequal %}
  </p>
  <table id="debugQueryTable" style="display: none;">
    <col width="1"></col>
    <col></col>
    <col width="1"></col>
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">SQL</th>
      <th scope="col">Time</th>
    </tr>
    </thead>
    <tbody>
    {% for query in sql_queries %}<tr class="{% cycle odd,even %}">
      <td>{{ forloop.counter }}</td>
      <td>{{ query.sql|escape }}</td>
      <td>{{ query.time }}</td>
    </tr>{% endfor %}
    </tbody>
  </table>
</div>
{% endif %}


{% endblock %}
