{% extends "base.html" %}

{% block title %}Aquarium Controller: Edit a Profile{% endblock %}

{% block content %}


{% load schdctlextras %}

<h1>Edit a Schedule Profile, Source {{ source.name }}</h1>

<form action="{% url 'profile' source.id profileid %}" method="post">
{% csrf_token %}
{{ form.as_p }}

{{ formset.management_form }}

    {% for f in formset %}
        <label>{{ chans|get_at_index:forloop.counter0 }}</label>
        <p>{{ f }}</p>
    {% endfor %}


{% if profileid %}
    <input type="submit" value="Update" />
{% else %}
    <input type="submit" value="Add" />
{% endif %}
</form>

{% endblock %}
