{% extends "base_generic.html" %}

{% block title %}Aquarium Controller: {{ source.name }} Schedules{% endblock %}

{% block content %}


<h1>Edit {{ source.name }} Schedules:</h1>

{% if profile_list %}
    {% for p in profile_list %}
        <h2>{{ p.name }}:</h2>
        <p>
            <img src="{% url 'source_profile_graph' source.id p.id %}">
            <a href="{% url 'profile' source.id p.id %}">Edit</a><br>
            <font size="1">
                <a href="{% url 'profile_delete' p.id %}">delete</a>
            </font>
        </p><br>
    {% endfor %}
{% else %}
    <p>No profiles are configured, <a href="{% url 'profile' source.id '0' %}">Add a profile</a></p>
{% endif %}

<br>

<p><a href="{% url 'profile' source.id '0' %}">Add a profile</a></p>
<p><a href="{% url 'index' %}">Back to Schedule Control Index</a></p>

{% endblock %}
